.coffe__wrapper{
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}
.coffe__item{
    width: 316.8px;
    height: 497px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;

}